HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/node/src/main/resources/application-dev.properties
/telegram/src/main/resources/application-dev.properties
/TradeBot/src/main/resources/application-dev.properties
###учетные данные###
.env
volume/db
volume/rabbitmq
/services-node/src/main/resources/application-dev.properties
/services-telegram/src/main/resources/application-dev.properties
/services-trade/src/main/resources/application-dev.properties